/* ::-webkit-scrollbar {
    display: none;
}

.show {
    display: inline;
}

select {
    display: none;
} */

.mdl-layout__content>section {
    margin: 15px 0;
}

.result-text {
    margin-left: 5px;
    font-weight: 600;
}