::-webkit-scrollbar {
    display: none;
}

.from-to-sections {
    margin: 0 -8px 8px;
    padding: 0;
}

.result-text:first {
    margin-left: 5px;
}

.result-text {
    font-weight: 600;
}

h4 {
    margin: 0 0 16px;
}